DRUPAL_REST_URL=https://192.168.1.123/
DRUPAL_PRIVATEKEY=./data/kinto_api@kinto.com__private-key__6-1782934012.key
DRUPAL_KEYID=6-1782934012
DRUPAL_USERNAME=kinto_api@kinto.com
DRUPAL_ALGORITHM=RSA
RABBITMQ_URL=amqp://rabbitmq:passworD@192.168.1.121:5672
RABBITMQ_QUEUE=main_queue
RABBITMQ_EVENT=shoporders_event
BANK_GOV_UA_URL=https://bank.gov.ua/depo_securities?json
