DRUPAL_REST_URL=https://your-drupal-site.example.com/path/to/rest/resource
DRUPAL_JWT_TOKEN=your-jwt-tokenRABBITMQ_URL=amqp://rabbitmq:passworD@192.168.1.121:5672
RABBITMQ_QUEUE=main_queue
RABBITMQ_EVENT=shoporders_event
